body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


table.dataTable tr.odd td.sorting_1 {
    background-color: #f9f9f9 !important;
}

table.dataTable tr.odd td.sorting_2 {
    background-color: #f9f9f9 !important;
}

table.dataTable tr.odd td.sorting_3 {
    background-color: #f9f9f9 !important;
}

table.dataTable tr.even td.sorting_1 {
    background-color: white !important;
}

table.dataTable tr.even td.sorting_2 {
    background-color: #f9f9f9 !important;
}

table.dataTable tr.even td.sorting_3 {
    background-color: #f9f9f9 !important;
}

table.dataTable tr.odd {
    background-color: #f9f9f9 !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #ccc;
    border-color: #ccc;
}

.pagination > li > a, .pagination > li > span {
    color: black;
}